#header {
	/*background-color: #2b3442;*/
	/*background-color: #1FD26A;*/
	background-color: #75A3D1;
	color:#fff;
	padding: 8px 0 10px 20px;
	/*text-align:center;*/
}

body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	margin:0;
	font-weight: 300;
	font-size: 16px;
	color: #555;
	/*background-color: #32313B;*/
  	-webkit-font-smoothing: antialiased;
}

h1 { font-size:36px; margin:0; }

h2 { font-size: 28px; }

h3 { font-size: 24px; }



#main {
/*background-color: #32313B;*/
height: 30em;
text-align: center;
/*background-image: url('http://www.boefly.com/blog/wp-content/uploads/SmallBusinessSecurity.jpeg');*/
/*background-image: url('http://i.huffpost.com/gen/1410150/thumbs/o-SMALL-BUSINESS-facebook.jpg');*/
background-image: url('http://www.theneworleanstribune.com/main/wp-content/uploads/2014/04/Brand-Discovery-1024x734.jpg');
background-repeat: no-repeat;
background-size: cover;
}

.header-info {
	width: 500px;
	height: 350px;
	top:150px;
	left:10px;
	position:absolute;
}

#about, #how-it-works, #testimonials, #container {
	padding: 50px 0 50px 0;
	height: 700px;
}

#call-to-action {
	padding: 20px 0 20px 0;
	text-align: center;
	background:#4482c0;
	color:#fff;
}

#how-it-works {
	background:#bbbbbb;
	color:#fff;
}

#press {
	background:#4482c0;
	color:#fff;
	height:100%;
	text-align:center;
	padding: 10px 0 50px 0;
}

#press img {
	margin: 10px;
}

#footer {
	/*background-color: #2b3442;*/
	/*background-color: #1FD26A;*/
	background-color: #75A3D1;
	color:#fff;
	padding: 10px;
	text-align:center;
}